body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background: mediumspringgreen;
}

.header_div {
    background: mediumspringgreen;
    color: fuchsia;
}

.header_div p{
font-family: 'Edu VIC WA NT Beginner', cursive;
color: fuchsia;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}

.main_div button {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: fuchsia;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: mediumspringgreen;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(150, 148, 148);
}